* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
}

.loader{
    margin: 50px ;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border : 10px solid rgb(195, 195, 195);
    border-top-color: red;
    animation: rotate  infinite ease-out;
 }

 @keyframes rotate {
    100%{
        rotate : 360deg;
    }
 }